# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock

# Keep committed preview APK under releases/
!releases/
!releases/*.apk

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio related
android/app/google-services.json
android/key.properties
*.jks

# iOS related
ios/Pods/
ios/.symlinks/

# Local configuration
.env
*.env
